body {
    background-color: #737373;
    margin: 0;
}
#title {
    width: 100%;
}

.icon {
    width: 20%;
    margin: 25px 70px;
    border-radius: 50%;
    border: 15px solid #444444;
    
}

#images {
    text-align: center;
}