/* ---------------------- General CSS ------------------------*/

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Passion+One&family=Patua+One&family=Ubuntu:wght@300&display=swap');

/* Max-width for all the content of the page. */
#content {
    max-width: 1600px;
    margin: 0 auto;
    width: 100%;
}

/* Background color of the page. */
body {
    background-color: #FFFAF4;
    font-family: "Nunito Sans", Ubuntu, sans-serif;
    font-size: 22px;
    /* Reset the default values */
    margin: 0;
    padding: 0;
}

/* Headings */
h2 {
    font-family: "Patua One";
    margin: 0;
    color: #D18523;
}

h1, h4, h3 {
    font-family: "Patua One";
    margin: 0;
}


/* ------------- HEADER CSS ------------------- */

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-content: center;
    background-color: #FFFAF4;    
}

nav {
    grid-column: 2/5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    justify-items: center; 
}

nav a{
    text-align: center;
    color: #052A39;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: #D18523;
    color: white;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.logo {
    max-width: 350px;
    padding-left: 10px;
}


/* ---------- BANNER ---------- */
#hero {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: 20px 1fr 1fr 20px;
    align-content: center;
}

#hero-img {
    grid-column: 1/4;
    grid-row: 1/5;
    width: 100%;
    max-height: 800px;
}

#hero-background {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: #D18523;
    max-height: 50%;
    opacity: .8;
    border-radius: 25px;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    max-height: 100%;
    margin: 10px;
    color: #141414;
    z-index: 1;    
}

#hero-msg h3 {
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-family: "Nunito Sans", Ubuntu, sans-serif;
}

.button-box {
    background-color: #7DA53B;
    width: 170px;
    max-width: 200px;
    max-height: 50px;
    margin: 0 auto 15px auto;
    z-index: 1;
    border-radius: 25px;
    text-align: center;
    transition: transform .5s;
}

.button-box:hover {
    background-color: #92BE4B;
    transform: scale(1.1);
}

.book:hover {
    color: #052A39;
    font-family: Ubuntu, sans-serif;
}

.book {
    text-decoration: none;
    font-family: Ubuntu, sans-serif;
    color: #FFFAF4;
}


/* ----------------- HOME PAGE GRID -------------- */
#home-page-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 400px 100px 1fr;
    padding: 40px;
}

#msg-background {
    grid-row: 1/2;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr;
    background-color: #8ED8F6;
    width: 50%;
    padding: 50px;
    align-content: center;
    align-self: center;
    justify-self: center;
    max-height: 350px;
    max-width: 1000px;
}

#home-page-subtitle {
    grid-row: 2/3;
    text-align: center;
}

#card-grid {
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

/* --------------------- MESSAGE BOX --------------------- */

#msg-title {
    grid-column: 1/2;
    grid-row: 1/2;
    color: #052A39;
}

#msg {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0;
}

/* -------------------- CARD SECTION ------------------*/

#first-river {
    grid-column: 1/2;
    grid-row: 1/2;
}

#second-river {
    grid-column: 2/3;
    grid-row: 1/2;
}

#third-river {
    grid-column: 3/4;
    grid-row: 1/2;
}

#first-river, #second-river, #third-river {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 80px 80px 80px;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
}

.card-img {
    max-height: 700px;
    max-width: 350px;
    margin: 0 auto 40px 0;
    border-radius: 25px;
    border: 10px solid #052A39;
    box-shadow: 5px 5px 10px #6f7364;
    transition: transform .5s;
}

.card-img:hover {
    transform: scale(1.1);
}

#card-grid h4 {
    color: #052A39;
    letter-spacing: 0.1em;
}

#card-grid h3 {
    color: #7DA53B;
    letter-spacing: 0.1em
}

/* -------------------- FOOTER CSS --------------*/

#footer-grid {
    display: grid;
    grid-template-columns: 70% auto;
    grid-template-rows: 1fr;
    padding: 25px 50px;
    background-color: #141414;
    color: #FFFAF4;
}

#form p, #form a{
    margin: 0 0 15px 0;
    color: #FFFAF4;
}

#form h3 {
    letter-spacing: 0.07em;
    font-weight: 400;
    margin: 0 0 15px 0;
}

#footer-links a {
    text-decoration: none;
    color: #8ED8F6;
}

#footer-links p:nth-of-type(1){
    margin: 50px 0 30px auto;
}

#contact-info {
    margin-top: 20px;
    color: #D18523;
}